# Autotools
Makefile.in
aclocal.m4
autom4te.cache/
configure

build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing

*.deps

Makefile
config.log
config.status
pre-inst-env

# Tests
tests/*.trs
*.log

# Guile bytecode
*.go
